.sidebar-btn-group{
    background-color: #48A5B7;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.sidebar-btn-group .sidebar-btn{
    width: 33.3%;
    background-color: #48A5B7;
}

.sidebar-btn-group .fas{
    color:white;
}

#sidebar-link, #sidebar-article{
    color: white;
}

#sidebar-link .element, #sidebar-article .article {
    color: inherit;
    padding-bottom: 3.5vh !important;
}

#sidebar-link ul li a {
    padding: 2px;
    color: inherit;
    display: block;
}

#sidebar-link a:hover, #sidebar-link a:active, #sidebar-link a:visited, #sidebar-link a:focus{
    color: inherit;
}

#sidebar-article .article-title {
    font-weight: bold;
    /*font-size: 1vw !important;*/
    padding-bottom: 3px;
}

#sidebar-article a:hover, #sidebar-article a:active, #sidebar-article a:visited, #sidebar-article a:focus{
    color: inherit !important;
}

#sidebar-link ul li a {
    padding: 2px;
    display: block;
}

#sidebar-article .article-link{
    font-weight: bold;
}

.divider{
    background-color: white;
    
}

body {
    background: #7CC5D4;
    font-family: "Roboto",Tahoma;
    margin: 0;
    height: 100%;
}

.fa, .fas{
    font-weight: 900 !important;
}

/*START SIDENAV*/
#sidebar .element {
    font-size: 1vw !important;
    padding: 7px;
}

.sidebar-header{
    font-weight: bold;
    text-align: center;
}

#sidebar a, #sidebar a:hover, #sidebar a:focus {
    color: inherit;
    text-decoration: none;
    font-size: 0.8vw;
}

#sidebar .footerNav {
    text-align: center;
    font-weight: bold;
    bottom: 0;
    align-self: flex-end;
}

#sidebar {
    width:  15vw;
    position: fixed;
    overflow-y: auto;
    top: 0;
    bottom:0;
    left: -15vw;
    max-height: 100vh;
    max-width: 100vw;
    z-index: 10;
    background: #48A5B7;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
    padding: 1vw;
    min-width: 15px;
    display: flex;
}

#sidebar.active {
    left: 0;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 5;
    cursor: pointer;
}

.sidebar-header {
    font-size: 1vw;
    padding: 10px;
    /*background: #48A5B7;*/
}


#sidebar ul.components {
    padding: 10px;
}

#sidebar ul p {
    color: #fff;
    padding: 7px;
}

#sidebar ul li a {
    padding: 7px;
    /*font-size: 1vw;*/
    display: block;
}
#sidebar ul li a:hover {
    color: #48A5B7;
    background: #fff;
}

/*SFARSIT SIDENAV*/

/*START NAVIGATIE*/
.navbar {
    background-color: #48A5B7;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 50px;
}

.navbar-brand{
    margin: 0;
    font-weight: bold;
}

.navbar .navbar-nav a {
    margin-left: 30px;
    margin-right: 30px;
}


.navbar .btn {
    margin-left: -10px;
    color: #3B7DD8;
    border-radius: 7px

}

.sidenav-enable{
    cursor: pointer;
    color:white !important;
    position: absolute;
    margin-left: 3%;
}

.search-input {
    height: 32px;
    background-color: #7CC5D4;
    border-radius: 7px;
    border:none;
    transition: all 0.2s ease-in-out;
}
.search-input ~ button{
    height:32px;
    padding-top: 3px;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
}

.search-input ~ button:hover{
    color: #3B7DD8;
}

.search-input:hover, .search-input:focus {
    box-shadow: none;
    border: none;
}
/*SFARSIT NAVIGATIE*/





/*START CONTENT*/
.article-wrapper {
    width: 90%;
    margin-bottom: 50px;
}

.article-wrapper .article-content {
    padding: 8%;
    z-index: 3;
    position: absolute;
    top: 0;
    color: white;
    width: 80%;
}

.img-wrapper {
    overflow: hidden;
    height: 320px;
    position: relative;
    opacity: 0.4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.likes {
    font-size: 14px;
    font-weight: bold;
}

.posting-date {
    font-size: 14px;
}

.article-wrapper .title {
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
    line-height: 30px;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.6);
}

.article-wrapper .article-preview {
    font-size: 14px;
    line-height: 24px;
    text-shadow: 0.5px 1px rgba(0, 0, 0, 0.6);
}

.article-wrapper .article-img {
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    position: absolute;
    margin: auto;
    height: 100%;
}

.author-name {
    color: #48A5B7;
    font-family: "Arial";
    font-weight: bold;
}


.author {
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%;
    background: #F1F9FF;
    height: 70px;
    width: 100%;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}


.page-footer {
    display: flex;
    justify-content: space-around;
    background: #48A5B7;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-text {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 14px;
}
/*SFARSIT CONTENT*/